AZURE_CONNECTION_STRING=Server=tcp:escmb-data-server.database.windows.net,1433;Initial Catalog=escmb-db;Persist Security Info=False;User ID=admin-db;Password=INGRESA_LA_PASSWORD_AQUI;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;
